* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1em;
  font: 1rem sans-serif;
  background: transparent;
  border: none;
  outline: none;
}

body {
  padding: 1rem;
  background: #000;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 1rem;
}

p {
  color: #ffffffcc;
}

a {
  color: #6666ff;
}
